footer.footer.swatch-900.mt-4
  .container
    p.text-center
      span Curso de hapi.js - &#32;
        a(href="https://platzi.com" target="_blank")
          img.small-logo(src="/assets/images/logo-platzi.png") 
        | &#32;&copy; 2019