extends ./layout/layout

block content
  main.container-fluid(role="main")
    .jumbotron.bg-white
      .container
        h1.display-3 FAQ
        p
          | The best place to learn and for those who are learning, ask a question
          | to clarify your doubts and share your knowledge if you know the answer

    .container
      h2.mb-4 Last Questions
      if questions 
        each q, key in questions
          .card.bg-white.mb-3
            .card-body
              .row
                .col-2.text-center
                  a.text-dark(href="#")
                    h3 2
                    | Answers
                .col-10.d-flex.align-items-stretch
                  h4.mt-3
                    a.text-dark(href="#")= q.title
          hr
      else 
        .card.bg-white.mb-3
          .card-body
            .row
              .col-2.text-center
                h3 
              .col-10.d-flex.align-items-stretch
                h4.mt-3= error

block footer
  include ./partials/footer
block scripts
  include ./partials/scripts
