extends ./layout/layout

block content
  .container.mt-4
    .card.mb-3
      .card-header
        h3 New User
    
      .card-body
        

block footer
  include ./partials/footer
block scripts
  include ./partials/scripts
